
<%= @teacher.name %>
<div class="teacher-photo-area">
  <%= image_tag @teacher.photo %>
</div>

<br>

<b>Top Student:</b> <%= @top_student.name %>

<br><br>

<%= link_to "#{@teacher.name}'s courses", teacher_courses_path(@teacher) %>
